---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">About me</div>
  </div>

  <div class="mb-10 text-justify">
    Approaching the field of Engineering with a blend of child-like curiosity and unwavering seriousness, I am committed to both the wonder of discovery and the rigor of research.
I have held a steadfast belief in the transformative power of technology. Where it may not inherently present itself as a panacea, I maintain that it is the prerogative of Engineers to adeptly "engineer" it towards more optimal avenues. Even as a Software Developer at Samsung, I tried to bring in the practice of research and extensively innovated on ways to increase the device command execution time by trying out various methods. So to summarize, I love Research, Software Systems, Deep Learning, Machine Learning and AI.

  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of Science, Computer Science at University of Southern California, Los Angeles, USA."
      subtitle="CGPA: 3.9/4, Jan 2023 to Dec 2024"
    />
    <TimeLineElement
      title="Bachelor of Engineering, Computer Science at Anna University - CEG Campus, Chennai, India."
      subtitle="CGPA : 9.2/10, Aug 2016 to Apr 2020"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
    title="AI Software Engineer, WinAI"
    subtitle="From [Jan 2025] to Present at [Nvidia], [Santa Clara], [USA]"
    >
    Trial by fire. :)
    </TimeLineElement>
    <TimeLineElement
    title="Machine Learning Systems Intern"
    subtitle="From [Apr 2024] to [Nov 2024] at [TensorOpera], [Palo Alto], [USA]"
    >
    Worked on an on-demand GPU scheduler using Spring Boot and MySQL to provision server-less train and deploy jobs based
on YAML specifications. Opened up the compute plane at TO. <br> 
    Made large models infer faster through granular optimizations. <br>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant, Computer Vision"
      subtitle="From [Aug 2023] to [Mar 2024] at [ISI], [Los Angeles], [USA]"
    >
    Conducting in-depth analysis of Federated Networks unlearning processes during weight aggregation from non-IID local distributions
    and explored advanced fully homomorphic encryption schemes to bolster privacy in federated networks.<br>
    Developed models from state-of-the-art papers to support project hypothesis, testing their effectiveness on FMNIST and Cifar-10 datasets.
    Employed visualization tools and developed metrics to quantify and assess client drift.<br>
    Received Best Data Science Insight and Project achievement awards for bringing out proof of eventual community model depletion
    caused by drift correction mechanisms in the Scaffold Approach.<br>
    </TimeLineElement>
    <TimeLineElement
      title="Research Assistant, Computer Vision"
      subtitle="From [Apr 2023] to [Jan 2024] at [Wireless Devices and Systems Lab], [Los Angeles], [USA]"
    >
    Researching CNN based Segmentation models (DeepLabV3+) to compute signal pathloss, cutting down prediction time by
    12 hours by incorporating transfer learning while maintaining generalizability across urban maps.

    </TimeLineElement>
    <TimeLineElement
      title="Software Developer, SmartThings - Android Systems"
      subtitle="From [Jan 2021] to [Dec 2022] at [Samsung Research], [Bangalore], [India]"
    >
      Worked on the SmartThings Applications team - Wear OS. Developed multiple device detail pages and BT-HID quick control library using Kotlin. Innovated on two A1 grade patents.
    </TimeLineElement>
    <TimeLineElement
      title="Summer Intern, Bixby Voice Intelligence"
      subtitle="From [May 2019] to [Jul 2019] at [Samsung Research], [Bangalore], [India]"
    >
    Extracted multi-intent statements from user utterances by automating command tokenization using spaCy NLP, Flask, and
    JavaScript, allowing users to utter naturally lengthy sentences with Bixby device.    
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Coursework at USC</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <u>CSCI 570: Analysis of Algorithms</u>: Prof. Victor Adamchik, Spring 2023
    </li>
    <li>
      <u>CSCI 561: Foundations of AI</u>: Prof. Laurent Itti, Spring 2023
    </li>
    <li>
      <u>DSCI 552 : Machine Learning</u>: Prof. Mohammad Reza Rajati, Fall 2023 
    </li>
    <li>
      <u>CSCI 585 : Database Systems</u>: Prof. Saty Raghavachary, Fall 2023
    </li>
    <li>
      <u>CSCI 550 : Advanced Data Stores</u>: Prof. Ibrahim Sabek, Spring 2024 
    </li>
    <li>
      <u>CSCI 566 : Deep Learnings and its Applications</u>: Prof. Yue Zhao, Spring 2024
    </li>
    <li>
      <u>CSCI 572 : Information Retrieval and Web Search Engines</u>: Prof. Saty Raghavachary, Fall 2024
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://www.coursera.org/account/accomplishments/specialization/certificate/BYESN2CP9363" target="_blank"><u>Coursera Deep Learning Certification</u></a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1_ANTezB8zYgCbbnBAedminyOQzUSXkxB/view?usp=sharing" target="_blank"><u>Android Coroutines</u></a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1YH3J10DCA_eF_0_O0cBPD_yNWulEiaCy/view?usp=sharing" target="_blank"><u>Clean Architecture & SOLID principles for Android</u></a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Computer Vision</li>
    <li>Pytorch</li>
    <li>Tensorflow</li>
    <li>Android</li>
    <li>KotlinRx</li>
    <li>Java</li>
    <li>Python</li>
    <li>Latex</li>
    <li>Machine Learning</li>
    <li>Deep Learning</li>
    <li>Perfetto</li>
    <li>C/C++</li>
  </ul>
</BaseLayout>
